.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0e7420;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    padding-top: 80px;
}

.menu-btn-header {
    width: 100px;
    height: 50px;
    margin-left: 30px;
    margin-right: 50px;
    background-color: #e2d83d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.menu {
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.logo-home {
    flex: 1;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    overflow: hidden;
    margin-left: px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-header {
    max-width: 150px;
    height: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo img {
    width: 50px;
    height: auto;
}

.search-bar input {
    padding: 5px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar-container-header {
    background-color: #444;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.avatar {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-menu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    padding: 20px;
}

.side-menu.open {
    left: 0;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    padding: 10px;
    cursor: pointer;
}

.side-menu li:hover {
    background-color: #444;
}

.menu-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    width: 20px;
    height: 20px;
}
